* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(178, 186, 241);
}

.wrapper {
  background-color: #a7a8cd;
  width: 600px;
  box-sizing: border-box;
  position: relative;
  margin-inline: 200px;
  margin-block-start: 20px;
}

.picture-container {
  position: relative;
  width: 100%;
  margin: 5px auto;
}

.picture-container img {
  position: relative;
  width: 100%;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

.new {
  position: absolute;
  background-color: #fef0b7;
  padding: 10px 5px;
  top: 10px;
  left: -10px;
  font-weight: bold;
  border-radius: 3px 30px 30px 3px;
}

.series {
  color: #000000;
  margin-top: -10px;
  background-color: white;
  width: 100%;
  position: relative;
  padding: 5px;
}

.otherpart {
  font-size: small;
  color: #505050;
}

.about {
  margin-block: 15px;
  padding-inline-end: 10px;
  padding-block-end: 30px;
  font-size: large;
  margin-left: 15px;
}

.novus {
  margin-top: 15px;
  width: auto;
  margin-left: 20px;
}
